@import "tailwindcss";

:root {
  --font-display: "Nunito", "Poppins", "sans-serif";
  --font-body: "Rubik", "Poppins", "sans-serif";

  --breakpoint-3xl: 120rem;

  --color-primary: #4ea677;
  --color-secondary: #f55124;
  --color-darkgreen: #265e40;
  --color-lightgreen: #83daba;
  --color-textdark: #201e1e;
  --color-textlight: #6d6a6a;
  --color-textwhite: #ffffff;
  --color-yellow: #e1ba2c;
  --color-error: #ff4d4d;
  --color-success: #4ea677;
  --color-background: #f9f9f9;
  --color-background-dark: #1e1e1e;

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

/*  custom styles */
body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: var(--font-display);
  font-weight: 600;
  @apply antialiased;
}

html {
  scroll-behavior: smooth;
}

button,
a,
input,
select,
textarea {
  @apply transition-all duration-300 ease-in-out;
}

/* Scrollbar styling  */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom styles for the date picker */
/* Start of range (rounded left, primary bg) */
.rdp-day-start {
  background-color: var(--color-lightgreen);
  color: black;
  border-radius: 9999px 0 0 9999px; /* rounded left */
}

/* End of range (rounded right, primary bg) */
.rdp-day-end {
  background-color: var(--color-lightgreen);
  color: black;
  border-radius: 0 9999px 9999px 0; /* rounded right */
}

/* Middle of range (light bg) */
.rdp-day-middle {
  background-color: var(--color-lightgreen);
  color: black;
  border-radius: 0; /* no rounding */
}

/* Today’s date styling */
.rdp-day-today {
  font-weight: bold;
  color: var(--color-darkgreen);
}

/* Disabled days */
.rdp-day-disabled {
  color: #ccc;
  cursor: not-allowed;
}
