
@import "tailwindcss";

@theme {
  --font-display: "Nunito", "pop-ins", "sans-serif";
  --font-body: "Rubik", "pop-ins", "sans-serif";

  --breakpoint-3xl: 120rem;

  --color-primary: #4ea677;
  --color-secondary: #ff6b44;
  --color-darkgreen: #265e40;
  --color-lightgreen: #83daba;
  --color-textdark: #201e1e;
  --color-textlight: #6d6a6a;
  --color-textwhite: #ffffff;
  --color-yellow: #e1ba2c;
  --color-error: #ff4d4d;
  --color-success: #4ea677;
  --color-background: #f9f9f9;
  --color-background-dark: #1e1e1e;

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

/*  custom styles */
body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: var(--font-display);
  @apply antialiased;
}

html {
  scroll-behavior: smooth;
}

* {
  @apply transition-all duration-300 ease-in-out;
}

/*  Dark Mode */
.dark body {
  background-color: var(--color-background-dark);
  color: var(--color-textlight);
}

/* Scrollbar styling  */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
